{
	email instructor@example.edu
}

your-course-domain.example.edu {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		X-Frame-Options "DENY"
	}

	reverse_proxy frontend:3000
}
